<a href="https://colab.research.google.com/github/lyledillion/Data-Science-1002/blob/main/Assignments/07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [8]:
# Load pandas and the data
import pandas as pd
url = "https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv"
ride_sharingurl= pd.read_csv(url)

In [9]:
# show how many rows and columns are in this dataset
num_rows, num_columns = ride_sharingurl.shape
print("Number of Rows:", num_rows)
print("Number of Columns: ", num_columns)

Number of Rows: 25760
Number of Columns:  10

In [11]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
ride_sharingurl ['duration'] = ride_sharingurl['duration'].str.replace(r'\D+', '')
ride_sharingurl['duration']= ride_sharingurl['duration'].astype('int64')

<ipython-input-11-fd54fb81a162>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  ride_sharingurl ['duration'] = ride_sharingurl['duration'].str.replace(r'\D+', '')

In [12]:
# Now display the datatypes in the updated dataframe
print(ride_sharingurl.dtypes)

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [14]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
min_duration = ride_sharingurl['duration'].min()
max_duration = ride_sharingurl['duration'].max()
print("Shortest ride duration: ", min_duration)
print("Longest ride duration: ", max_duration)

Shortest ride duration:  1
Longest ride duration:  1372

In [15]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
rides_60_min_or_less_df= ride_sharingurl.query('duration <= 60')
rides_60_min_or_less_df.head()

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,26
1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,27
2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,29
3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,26
4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,27

In [16]:
# Now show both the min and max values of the duration column for your new dataset.
min_duration_60_or_less= rides_60_min_or_less_df['duration'].min()
max_duration_60_or_less= rides_60_min_or_less_df['duration'].max()
print("New shortest ride duration: ", min_duration_60_or_less)
print("New longest ride duration: ", max_duration_60_or_less)

New shortest ride duration:  1
New longest ride duration:  60

In [19]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
rides_60_min_or_less_df= rides_60_min_or_less_df.query('tire_size == 26')
rides_60_min_or_less_df.head()

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,26
3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,26
6,16,67,San Francisco Caltrain Station 2 (Townsend St...,107,17th St at Dolores St,1035,2,1981,Male,26
9,5,30,San Francisco Caltrain (Townsend St at 4th St),62,Victoria Manalo Draves Park,333,1,1994,Male,26
12,7,3,Powell St BART Station (Market St at 4th St),27,Beale St at Harrison St,1863,3,1998,Male,26

In [22]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
female_riders = rides_60_min_or_less_df.query('tire_size ==26 and duration <=60 and user_gender== "FEMALE"').shape[0]
print("The number of female riders using the 26-inch and a rental of an hour or less: " , female_riders)

The number of female riders using the 26-inch and a rental of an hour or less:  0

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [80]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
df= pd.read_csv("more-messy-data.csv")
num_duplicates = df.duplicated().sum()
print("Number of duplicate rows: ", num_duplicates)

Number of duplicate rows:  287

In [79]:
# Next, remove all duplicate rows using Python.
df= df.drop_duplicates()
print('Dataframe without duplicate rows count: ', df.shape)

Dataframe without duplicate rows count:  (886, 6)

In [78]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean
import numpy as np

df['sepal_length'] = pd.to_numeric(df['sepal_length'], errors='coerce')
df['sepal_width'] = pd.to_numeric(df['sepal_width'], errors='coerce')
df['petal_length'] = pd.to_numeric(df['petal_length'], errors='coerce')
df['petal_width'] = pd.to_numeric(df['petal_width'], errors='coerce')

column_means = df.mean()

df['sepal_length'].fillna(column_means['sepal_length'], inplace=True)
df['sepal_width'].fillna(column_means['sepal_width'], inplace=True)
df['petal_length'].fillna(column_means['petal_length'], inplace=True)
df['petal_width'].fillna(column_means['petal_width'], inplace=True)

print(df)

       id  sepal_length  sepal_width  petal_length  petal_width     species
0       1      3.500000     2.900000           1.4          0.5   virginica
1       2      3.600000     3.200000           3.0          0.5      setosa
2       3      3.800000     2.994451           2.2          1.5      setosa
3       4      5.800000     2.700000           2.6          1.2   virginica
4       5      4.900000     3.600000           3.0          1.2   virginica
...   ...           ...          ...           ...          ...         ...
1310  411      4.800000     2.600000           1.9          0.9  versicolor
1311  412      4.518834     3.600000           2.9          0.5  versicolor
1312  413      5.800000     2.700000           2.0          0.1  versicolor
1313  414      3.300000     3.700000           1.3          2.8  versicolor
1315  416      4.300000     2.500000           1.3          1.0  versicolor

[887 rows x 6 columns]

<ipython-input-78-dfa39717435a>:10: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  column_means = df.mean()

In [76]:
# Find any values in the dataframe that are still missing, and delete them.
df.dropna(inplace=True)
print(df)

       id  sepal_length  sepal_width  petal_length  petal_width     species
0       1      3.500000     2.900000           1.4          0.5   virginica
1       2      3.600000     3.200000           3.0          0.5      setosa
2       3      3.800000     2.994451           2.2          1.5      setosa
3       4      5.800000     2.700000           2.6          1.2   virginica
4       5      4.900000     3.600000           3.0          1.2   virginica
...   ...           ...          ...           ...          ...         ...
1310  411      4.800000     2.600000           1.9          0.9  versicolor
1311  412      4.518834     3.600000           2.9          0.5  versicolor
1312  413      5.800000     2.700000           2.0          0.1  versicolor
1313  414      3.300000     3.700000           1.3          2.8  versicolor
1315  416      4.300000     2.500000           1.3          1.0  versicolor

[887 rows x 6 columns]

In [81]:
# How many different species are there?
species_description = df['species'].describe()

num_species = species_description['unique']

print("Number of different species:", num_species)

Number of different species: 10

In [89]:
# Clean up the 'species' variable so that there are exactly three different values.
valid_species = ['setosa', 'versicolor', 'virginica']

# Filter the DataFrame to include only rows with valid species
cleaned_df = df[df['species'].isin(valid_species)]

# Display unique values in the 'species' column after cleaning

print("Unique values in the 'species' column after cleaning:")
print(cleaned_df['species'].unique())

Unique values in the 'species' column after cleaning:
['virginica' 'setosa' 'versicolor']

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [ ]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = 'ab+'
test = 'aabbbc'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

# uncomment this line if you want
# print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))